* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
#container {
  box-shadow: -3px -5px 10px#7b7d848a;
}

p {
  background-color: blueviolet;
  text-align: center;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  width: 30%;
  color: #fff;
}
